body {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--main-txt-color);
  background-color: var(--main-bg-color);
  font-size: 16px;
}
:root {
  --main-bg-color: #136a79;
  --main-txt-color: #9ad6dc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
